<h2><%= t(:edit).capitalize %> <%= resource_name.to_s.humanize %></h2>

<%= form_for(resource, :as => resource_name, :url => registration_path(resource_name), :html => {:method => :put}) do |f| %>
  <%= devise_error_messages! %>

  <div class="field"><%= f.label :full_name %>
    <br/>
    <%= f.text_field :full_name %></div>

  <div class="field"><%= f.label :email %>
    <br/>
    <%= f.email_field :email %></div>

  <div class="field"><%= f.label :password %> <i><%= t :leave_blank_password %></i><br/>
    <%= f.password_field :password, :autocomplete => "off" %></div>

  <div class="field"><%= f.label :password_confirmation %>
    <br/>
    <%= f.password_field :password_confirmation %></div>

  <div class="field"><%= f.label :current_password %>
    <i><%= t :we_need_current_password %></i><br/>
    <%= f.password_field :current_password %></div>

  <div><%= f.submit t(:update) %></div>
<% end %>

<h3><%= t :cancel_my_account %></h3>

<p><%= link_to t(:cancel_my_account), registration_path(resource_name), :data => {:confirm => t(:are_you_sure)}, :method => :delete %>
  .</p>

<%= link_to t(:back), :back %>
