<div id="dashboard_load_facts" width="200px;">
  <a href="#" id="opener"><%= t(:open_load_fact) %></a>
</div>

<div class="clear"></div>

<div id="dashboard_inbounds" class="dashboard_list">
  <% @inbounds.each do |inbound| %>
  <div class="group">
    <h3 class="inbound_title"><%= inbound.raw_file.filename %></h3>
    <div class="data_table" id="<%=inbound.id%>">
      <%= inbound_table inbound.xml_file, inbound.raw_file.header %>
    </div>
  </div>
  <% end %>
</div>

<div id="dashboard_facts" class="dashboard_list">
  <% @facts.each do |fact| %>
  <div class="group">
    <h3 class="data_warehouse_title"><%= fact.name %></h3>
    <div class="data_table" id="<%=fact.id%>">
      <%= data_warehouse_table(fact) rescue "Carregando... #{$!}"%>
    </div>
  </div>
  <% end %>
</div>

<div class="clear"></div>

<div id="load_facts_modal" title="<%= t(:load_facts)%>">
  <div id="inbound" class="facts_table">
  <h3></h3>
  <table></table>
</div>
  <%= render 'facts_form'%>
  <div id="data_warehouse" class="facts_table">
    <h3></h3>
    <table><thead></thead></table>
  </div>
</div>
