<h1>Listing admin_dimensions</h1>

<table>
  <tr>
    <th><%= t :dimension %></th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @dimensions.each do |dimension| %>
  <tr>
    <td><%= dimension.name %></td>
    <td><%= link_to 'Show', admin_dimension_path(:id => dimension.name) %></td>
    <td><%= link_to 'Edit', edit_admin_dimension_path(:id => dimension.name) %></td>
    <td><%= link_to 'Destroy', admin_dimension_path(:id => dimension.name), confirm: 'Are you sure?', method: :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Dimension', new_admin_dimension_path %>
