<p id="notice"><%= notice %></p>

<p>
  <b><%= t(:dimension, :count => 1) %>:</b>
  <%= @dimension.name %>
</p>

<%= link_to t(:show), edit_admin_dimension_path(@dimension.name) %> |
<%= link_to t(:back), admin_dimensions_path %>
