<h2><%= t :sign_in %></h2>

<%= form_for(resource, :as => resource_name, :url => session_path(resource_name)) do |f| %>
  <table class="login">
    <tr>
      <td>
        <%= f.label :login %> <br/>
        <%= f.text_field :login %>
      </td>
      <td>
        <%= f.label :password %> <br/>
        <%= f.password_field :password %>
      </td>
      <td>
        &nbsp;<br/><%= f.submit t(:sign_in) %>
      </td>
    </tr>
    <tr>
      <td>
        <% if devise_mapping.rememberable? -%>
              <%= f.check_box :remember_me %> <%= f.label :remember_me %>
        <% end -%>
      </td>
      <td>
        <%= render "devise/shared/links" %>
      </td>
      <td></td>
    </tr>
  </table>


<% end %>


