<h2><%= t :sign_up %></h2>

<%= form_for(@user) do |f| %>
  <%= error_messages(@user, "Could not register user") %>

  <%= render :partial => 'user_fields', :locals => {:f => f} %>

  <p><%= f.label :password %></p>
  <p><%= f.password_field :password %></p>

  <p><%= f.label :password_confirmation %></p>
  <p><%= f.password_field :password_confirmation %></p>

  <p><%= f.submit t(:sign_up) %></p>
<% end %>
