<%= form_for(report, :url => report.persisted? ? admin_report_path(report) : admin_reports_path) do |f| %>
  <% if report.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(report.errors.count, "error") %> prohibited this report from being saved:</h2>

      <ul>
      <% report.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
    <span class="title"><%= t(:report_of)%> </span>
    <span class="title"><%= f.text_field :description, :size => 10 %></span>

    <%= f.hidden_field :fields %>
    <%= f.hidden_field :user_id, :value => @current_user.id %>
    <%= f.submit t(:save) %>
<% end %>
