<h1><%= t(:listing_reports).capitalize %></h1>

<table>
  <tr>
    <th><%= t(:description).capitalize %></th>
    <th><%= t(:fields).capitalize %></th>
    <th><%= t(:user).capitalize %></th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% reports.each do |report| %>
  <tr>
    <td><%= report.description %></td>
    <td><%= report.fields %></td>
    <td><%= report.user %></td>
    <td><%= link_to t(:show), report %></td>
    <td><%= link_to t(:delete), report, confirm: t(:are_you_sure), method: :delete %></td>
  </tr>
<% end %>
</table>

<br />

