<p id="notice"><%= notice %></p>

<p>
  <b><%= t(:description).capitalize %>:</b>
  <%= report.description %>
</p>

<p>
  <b><%= t(:fields).capitalize %></b>
  <%= report.fields %>
</p>

<p>
  <b><%= t(:user).capitalize %></b>
  <%= report.user %>
</p>


<%= link_to t(:edit), edit_report_path(report) %> |
<%= link_to t(:back), reports_path %>
