<p id="notice"><%= notice %></p>

<p>
  <b><%= t(:description).capitalize %>:</b>
  <%= report.description %>
</p>

<p>
  <b><%= t(:fields).capitalize %></b>
  <%= report_show_fields(report.fields) %>
</p>

<p>
  <b><%= t(:user).capitalize %></b>
  <%= report.user.full_name %>
</p>

<%= render :partial => 'report', :locals => { :report => report } %>

<div class="clear"></div>


<%= link_to t(:edit), edit_admin_report_path(report) %> |
<%= link_to t(:back), admin_reports_path %>
