<%= form_for(data_table, :url => data_table.persisted? ? admin_data_table_path : admin_data_tables_path) do |f| %>
  <% if data_table.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(data_table.errors.count, "error") %> prohibited this data_table from being saved:</h2>

      <ul>
      <% data_table.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </div>
  <div>
    <%= f.hidden_field :user_id, :value => @current_user.id %>
  </div>
  <div class="field">
    <%= f.label :fact %><br />
    <%= f.check_box :fact %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
