  <div class="field">
    <%= f.label :type %>: <%= f.text_field :type, :size => 5 %>

    <%= f.label :description %>: <%= f.text_field :description, :size => 10 %>

    <%= f.label :is_null %>: <%= f.check_box :is_null %>
  </div>
