  <div class="field">
    <%= f.label :type %>: <%= f.select :db_type, Field::DB_TYPE.collect{|p| [t(p.to_sym), p]} %>

    <%= f.label :description %>: <%= f.text_field :description, :size => 10 %>

    <%= f.label :is_null %>: <%= f.check_box :is_null %>
  </div>
