<h1>Listing admin_data_tables</h1>

<table>
  <tr>
    <th>Name</th>
    <th>User</th>
    <th>Fact</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @admin_data_tables.each do |admin_data_table| %>
  <tr>
    <td><%= admin_data_table.name %></td>
    <td><%= admin_data_table.user %></td>
    <td><%= admin_data_table.fact %></td>
    <td><%= link_to 'Show', admin_data_table %></td>
    <td><%= link_to 'Edit', edit_admin_data_table_path(admin_data_table) %></td>
    <td><%= link_to 'Destroy', admin_data_table, confirm: 'Are you sure?', method: :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Data table', new_admin_data_table_path %>
