<h1>Listing data_tables</h1>

<table>
  <tr>
    <th>Name</th>
    <th>User</th>
    <th>Fact</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @data_tables.each do |data_table| %>
  <tr>
    <td><%= data_table.name %></td>
    <td><%= data_table.user.full_name %></td>
    <td><%= data_table.fact %></td>
    <td><%= link_to 'Show', admin_data_table_path(data_table) %></td>
    <td><%= link_to 'Edit', edit_admin_data_table_path(data_table) %></td>
    <td><%= link_to 'Destroy', admin_data_table_path(data_table), confirm: 'Are you sure?', method: :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Data table', new_admin_data_table_path %>
