<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @data_table.name %>
</p>

<p>
  <b>User:</b>
  <%= @data_table.user.full_name %>
</p>

<p>
  <b>Fact:</b>
  <%= @data_table.fact %>
</p>


<%= link_to 'Edit', edit_admin_data_table_path(@data_table) %> |
<%= link_to 'Back', admin_data_tables_path %>
