<p><%= t(:hello) %> <%= @resource.email %>!</p>

<p><%= t(:someone_requested_link) %></p>

<p><%= link_to t(:change_my_password), edit_password_url(@resource, :reset_password_token => @resource.reset_password_token) %></p>

<p><%= t(:if_you_dont_requested_ignore) %></p>
<p><%= t(:your_password_until_link) %></p>
