<%= form_for(@raw_file) do |f| %>
  <% if @raw_file.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@raw_file.errors.count, t(:error)) %>
        <%= t :prohibited_save, :this => t(:path), :count => @raw_file.errors.count %>
      </h2>

      <ul>
        <% @raw_file.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
  <div class="field">
    <a class="input"><%= f.label :attach_a_file, :onclick => '$("#raw_file_attach_a_file").click();return false;' %></a>
    <%= f.file_field :attach_a_file, :onchange => 'submit()' %>
  </div>
  <div class="field">
    <%= f.label :path %>
    <br/>
    <%= f.text_field :path, :readonly => 'true' %>
  </div>
  <div class="field">
    <%= f.label :tags %>
    <br/>
    <%= f.text_field :tags %>
  </div>
  <div class="actions">
    <%= f.submit t(:submit_file) %>
  </div>
<% end %>
