<h1><%= t :listing_files %></h1>

<table>
  <tr>
    <th><%= t :path %></th>
    <th><%= t :tags %></th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

  <% @raw_files.each do |raw_file| %>
    <tr>
      <td><%= raw_file.path %></td>
      <td><%= raw_file.tags %></td>
      <td><%= link_to t(:show), raw_file %></td>
      <td><%= link_to t(:edit), edit_raw_file_path(raw_file) %></td>
      <td><%= link_to t(:delete), raw_file, confirm: t(:are_you_sure), method: :delete %></td>
    </tr>
  <% end %>
</table>

<br/>

<%= link_to t(:new_file), new_raw_file_path %>
