<h1><%= t(:listing_files) %></h1>

<%= form_tag(:action => :search) do %>
  <%= text_field_tag :filter %>
  <%= submit_tag 'Filtrar' %>
<% end %>
<br/>
<table width="100%">
  <tr>
    <th><%= t(:filename) %></th>
    <th><%= t(:template) %></th>
    <th><%= t(:status) %></th>
    <th><%= t(:created_at) %></th>
    <th></th>
    <th></th>
  </tr>

  <% @raw_files.each do |raw_file| %>
    <tr>
      <td><%= link_to raw_file.filename, download_raw_file_path(raw_file) %></td>
      <td><%= raw_file.template %></td>
      <td><%= t raw_file.status %></td>
      <td><%= t raw_file.created_at %></td>
      <td><%= link_to t(:edit), edit_raw_file_path(raw_file) %></td>
      <td><%= link_to t(:delete), raw_file, confirm: t(:are_you_sure), method: :delete %></td>
    </tr>
  <% end %>
</table>

<br/>

<%= link_to t(:new_file), new_raw_file_path %>
