<ul id="menu">
  <li><%= link_to t(:dashboard), url_for(:action => 'index', :controller => 'admin/dashboard') %></li>
  <li><%= link_to t(:upload).capitalize, raw_files_path %></li>
  <li><%= link_to t(:inbound).pluralize.capitalize, url_for(:action => 'index', :controller => 'admin/inbound') %></li>
  <li><%= link_to t(:user).pluralize.capitalize, admin_users_path %></li>
  <li><%= link_to t(:role, :count => 2).pluralize.capitalize, admin_roles_path %></li>
  <li><%= link_to t(:data_warehouse).camelize, admin_data_tables_path %></li>
  <li><%= link_to t(:report).pluralize.capitalize, admin_reports_path %></li>
  <li><%= link_to t(:sign_out).capitalize, destroy_user_session_path, :method => :delete %></li>
</ul>