<!DOCTYPE html>
<html>
<head>
  <title>TC</title>
  <%= stylesheet_link_tag "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= favicon_link_tag %>
  <%= csrf_meta_tags %>
</head>
<body>
  <div class="container">
    <div id="header">
      <% image_tag("logo.png", :size => "400x108") %>
    </div>
    <div id="menu">
      <%= link_to t(:home), root_url %>
      <%= link_to t(:upload), raw_files_path %>
      <%= link_to t(:users), admin_users_path %>
      <%= link_to t(:roles), admin_roles_path %>
      <%= link_to t(:data_warehouse),url_for(:action => 'list', :controller => 'admin/data_warehouse') %>
      <%= link_to t(:dimensions), admin_dimensions_path %>
      <%= link_to t(:facts), admin_facts_path %>
      <%= link_to t(:sign_out), destroy_user_session_path, :method => :delete %>
    </div>
    <div class="main">
      <div id="messages">
        <p class="notice"><%= notice %></p>
        <p class="flash"><%= flash[:error] %></p>
        <p class="alert"><%= alert %></p>
      </div>
      <%= yield %>
    </div>
  </div>
</body>
</html>
