<!DOCTYPE html>
<html>
<head>
  <title>TC</title>
  <%= stylesheet_link_tag "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= favicon_link_tag %>
  <%= csrf_meta_tags %>
</head>
<body>
  <div class="container">
    <div id="header">
      <%= link_to image_tag("logo.png", :size => "300x124"), root_url %>
    </div>
    <div id="menu">
      <%= link_to t(:upload), raw_files_path %>
      <%= link_to t(:inbound).pluralize, url_for(:action => 'list', :controller => 'admin/inbound') %>
      <%= link_to t(:user).pluralize, admin_users_path %>
      <%= link_to t(:role, :count => 2).pluralize, admin_roles_path %>
      <%= link_to t(:data_warehouse), url_for(:action => 'list', :controller => 'admin/data_warehouse') %>
      <%= link_to t(:dimension, :count => 2).pluralize, admin_dimensions_path %>
      <%= link_to t(:fact).pluralize, admin_facts_path %>
      <%= link_to t(:sign_out), destroy_user_session_path, :method => :delete %>
    </div>
    <div class="main">
      <div id="messages">
        <p class="notice"><%= notice %></p>
        <p class="flash"><%= flash[:error] %></p>
        <p class="alert"><%= alert %></p>
      </div>
      <%= yield %>
    </div>
    <div id="footer">
      Copyright Adilson, Leonardo, Rodrigo (Unip Campinas) &copy; <%= Time.now.year %>
    </div>
  </div>
</body>
</html>
