<!DOCTYPE html PUBLIC
"-//W3C//DTD XHTML 1.0 Transitional//EN"
"http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html>
<head>
  <title>TC</title>
  <%= stylesheet_link_tag "application", :media => "all" %>
  <%= favicon_link_tag %>
  <%= csrf_meta_tags %>
</head>
<body>
  <div class="container">
    <div id="header">
      <%= link_to image_tag("logo.png", :size => "300x124"), root_url %>
    </div>
	<%= render 'layouts/menu' %>
    <div class="main">
	  <%= render 'layouts/messages' %>
      <%= yield %>
    </div>
    <div id="footer">
      Copyright Adilson, Leonardo, Rodrigo (Unip Campinas) &copy; <%= Time.now.year %>
    </div>
  </div>
  <%= javascript_include_tag "application" %>
</body>
</html>
