<!DOCTYPE html>
<html>
<head>
  <title>TC</title>
  <%= stylesheet_link_tag "default", :media => "all" %>
  <%= stylesheet_link_tag "login", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<p class="notice"><%= notice %></p>
<p class="flash"><%= flash[:error] %></p>
<p class="alert"><%= alert %></p>

<div class="container">

  <div class="main">
    <%= yield %>
  </div>

</div>

</body>
</html>

